.boton {
  border-radius: 5px;
  width: 80px;
  height: 40px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}


.boton-grey {
  border-radius: 5px;
  width: 80px;
  height: 40px;
  border: none;
}
.boton-grey:hover{
  background-color: #aeaeae ;
}
.boton-grey:focus {
  outline: 1px solid rgb(80, 80, 80) ;
}


.boton-outline {
  background-color: white;
  color: blue;
  outline: 1px solid blue;
}
.boton-outline-hover {
  background-color: white;
  color: blue;
  outline: 1px solid blue;
}
.boton-outline-hover:hover {

  background-color: rgb(163, 200, 255);
}
.boton-outline-hover:focus {
  outline: 1px solid rgb(141, 190, 255) ;
}

.boton-texto {
  color: blue;
  background-color: white;
}
.boton-texto-hover {
  color: blue;
  background-color: white;
}
.boton-texto-hover:hover {
  color: blue;
  background-color:  rgb(141, 190, 255);
}
.boton-disable-shadow {
  background-color: blue;
  color: white;
}

.boton-disable {
  cursor: auto;
  background-color:#cfcfcf ;
  color: #868686;
}
.boton-disable-text {
  cursor: auto;
  background-color: white;
  color: #868686;
}

.boton-sm {
  background-color: blue;
  color: white;
  width: 67px;
  height: 27px;
}
.boton-md {
  background-color: blue;
  color: white;
  width: 74px;
  height: 34px;
}

.boton-lg {
  background-color: blue;
  color: white;
}



.boton-primary {
  background-color: blue;
  color: white;
  background-image: none;
}
.boton-secondary {
  background-color: rgb(82, 82, 82);
  color: white;
  width: 90px;
  height: 45px;
}
.boton-danger {
  background-color: rgb(224, 0, 0);
  color: white;
}



.boton-primary-hover {
  background-color: rgb(0, 66, 141);
  color: white;
}
.boton-secondary-hover {
  background-color: rgb(48, 48, 48);
  color: white;
  width: 90px;
  height: 45px;
}
.boton-danger-hover {
  background-color: rgb(153, 0, 0);
  color: white;
}
.boton-default-hover:hover {
  background-color: #aeaeae ;

}
.boton-primary-hover:hover {
  background-color: blue;
  color: white;
}
.boton-secondary-hover:hover {
  background-color: rgb(82, 82, 82);
  color: white;
  width: 90px;
  height: 45px;
}
.boton-danger-hover:hover {
  background-color: rgb(224, 0, 0);
  color: white;
}



.boton-icono {
  background-color: yellow;
  color: black;
  background-image:url('https://icons.iconarchive.com/icons/iconsmind/outline/256/Car-Coins-icon.png');
  background-repeat:no-repeat;
  height:40px;
  width:120px;
  background-size: 20px 20px;
  background-position: left;
  padding-left: 10px;
  filter: invert(1);
}
/* .boton-icono {
  background-color: yellow;
  color: black;
  background-image:url('https://icons.iconarchive.com/icons/iconsmind/outline/256/Car-Coins-icon.png');
  background-repeat:no-repeat;
  height:40px;
  width:120px;
  background-size: 20px 20px;
  background-position: left;
  padding-left: 10px;
  filter: invert(1);
} */

.boton-icono-2 {
  background-color: yellow;
  color: black;
  background-image:url('https://icons.iconarchive.com/icons/iconsmind/outline/256/Car-Coins-icon.png');
  background-repeat:no-repeat;
  height:40px;
  width:120px;
  background-size: 20px 20px;
  background-position: right;
  filter: invert(1);


}


